{% extends 'base.html.twig' %}

{% block title %}Edit Timber{% endblock %}

{% block body %}
    <h1>Edit Timber</h1>

    {{ include('timber/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('timber_index') }}">back to list</a>

    {{ include('timber/_delete_form.html.twig') }}
{% endblock %}
